In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv("csv_files/marketing_customer_analysis.csv")

In [25]:
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [26]:
#Show DataFrame info

In [27]:
print(df.shape)

(9134, 24)

In [28]:
df.columns = df.columns.str.lower()

In [29]:
df

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [30]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
print(numeric_cols)

Index(['customer lifetime value', 'income', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies',
       'total claim amount'],
      dtype='object')

In [31]:
categorical_cols = df.select_dtypes(include=['object']).columns
print(categorical_cols)

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective to date', 'employmentstatus', 'gender', 'location code',
       'marital status', 'policy type', 'policy', 'renew offer type',
       'sales channel', 'vehicle class', 'vehicle size'],
      dtype='object')

In [32]:
print(df.isna().sum())

customer                         0
state                            0
customer lifetime value          0
response                         0
coverage                         0
education                        0
effective to date                0
employmentstatus                 0
gender                           0
income                           0
location code                    0
marital status                   0
monthly premium auto             0
months since last claim          0
months since policy inception    0
number of open complaints        0
number of policies               0
policy type                      0
policy                           0
renew offer type                 0
sales channel                    0
total claim amount               0
vehicle class                    0
vehicle size                     0
dtype: int64

In [33]:
df.select_dtypes(include=[np.number]).apply(lambda x: x.fillna(x.median()))

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [34]:
df['effective to date'] = pd.to_datetime(df['effective to date'], errors='coerce')

In [35]:
df['month'] = pd.DatetimeIndex(df['effective to date']).month

In [36]:
df = df[(df['month'] >= 1) & (df['month'] <= 3)]

In [37]:
df['effective to date']

0      2011-02-24
1      2011-01-31
2      2011-02-19
3      2011-01-20
4      2011-02-03
          ...
9129   2011-02-10
9130   2011-02-12
9131   2011-02-06
9132   2011-02-03
9133   2011-02-14
Name: effective to date, Length: 9134, dtype: datetime64[ns]

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [39]:
#show data frame info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 9133
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer lifetime value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective to date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location code                  9134 non-null   object
 11  marital status                 9134 non-null   object
 12  monthly premium auto           9134 non-null   int64
 13  months since last claim        9134 non-null   int64
 14  months since policy inception  9134 non-null   int64
 15  number of open complaints      9134 non-null   int64
 16  number of policies             9134 non-null   int64
 17  policy type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew offer type               9134 non-null   object
 20  sales channel                  9134 non-null   object
 21  total claim amount             9134 non-null   float64
 22  vehicle class                  9134 non-null   object
 23  vehicle size                   9134 non-null   object
 24  month                          9134 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(15)
memory usage: 1.8+ MB
None

In [40]:
#Describe DataFrame.
print(df.describe())

       customer lifetime value        income  monthly premium auto  \
count              9134.000000   9134.000000           9134.000000
mean               8004.940475  37657.380009             93.219291
std                6870.967608  30379.904734             34.407967
min                1898.007675      0.000000             61.000000
25%                3994.251794      0.000000             68.000000
50%                5780.182197  33889.500000             83.000000
75%                8962.167041  62320.000000            109.000000
max               83325.381190  99981.000000            298.000000

       months since last claim  months since policy inception  \
count              9134.000000                    9134.000000
mean                 15.097000                      48.064594
std                  10.073257                      27.905991
min                   0.000000                       0.000000
25%                   6.000000                      24.000000
50%                  14.000000                      48.000000
75%                  23.000000                      71.000000
max                  35.000000                      99.000000

       number of open complaints  number of policies  total claim amount  \
count                9134.000000         9134.000000         9134.000000
mean                    0.384388            2.966170          434.088794
std                     0.910384            2.390182          290.500092
min                     0.000000            1.000000            0.099007
25%                     0.000000            1.000000          272.258244
50%                     0.000000            2.000000          383.945434
75%                     0.000000            4.000000          547.514839
max                     5.000000            9.000000         2893.239678

             month
count  9134.000000
mean      1.463762
std       0.498712
min       1.000000
25%       1.000000
50%       1.000000
75%       2.000000
max       2.000000

In [41]:
#copy of the data

In [42]:
dfcopy1 = df.copy()

In [50]:
Y = df['total claim amount']
X = df.drop('total claim amount', axis=1)

In [51]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_numeric = X.select_dtypes(include=['float64', 'int64'])
X_normalized = pd.DataFrame(scaler.fit_transform(X_numeric), columns=X_numeric.columns)

In [53]:
# One-Hot Encoding
categorical_vars = X.select_dtypes(include=['object'])
X_encoded = pd.get_dummies(categorical_vars)

In [54]:
# Concatenar las variables numéricas normalizadas y las variables categóricas codificadas
X_final = pd.concat([X_normalized, X_encoded], axis=1)

In [55]:
# División en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X_final, Y, test_size=0.2, random_state=42)

In [57]:
# Entrenar el modelo de regresión lineal
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [58]:
# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

In [59]:
# Métricas de evaluación del modelo
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
mae = mean_absolute_error(y_test, y_pred)

In [61]:
print("Coefficient of Determination (R2):", r2)
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)

Coefficient of Determination (R2): 0.7626427908485843
Mean Squared Error (MSE): 18872.518733546203
Root Mean Squared Error (RMSE): 137.37728609033664
Mean Absolute Error (MAE): 94.51859974136748